# ----------------------- scraper
SCRAPER_URL=scraper:9001
NATS_URL="nats://nats:4222"

SCRAPER_DB_HOST=scraper-postgres
SCRAPER_DB_NAME=users
SCRAPER_DB_PASSWORD=password
SCRAPER_DB_USER=postgres
SCRAPER_DB_PORT=5432

# ----------------------- tg-bot
TELEGRAM_TOKEN=API_TOKEN

BOT_DB_HOST=tg-bot-postgres
BOT_DB_NAME=users
BOT_DB_PASSWORD=password
BOT_DB_USER=postgres
BOT_DB_PORT=5432
